BODY {
	background-color:#ABC;
	font-size:90%;
	}

H1 { font-size:150% }
H2 { font-size:200% }

#all {
	width:700px;
	margin:1em auto;
	}

#page {
	-webkit-border-radius:7px;
	background-color:#CDE;
	}

#header,
#footer {
	text-transform:lowercase;
	}

#header {
	font-size:320%;
	color:#FFF;
	padding-bottom:5px;
	}

#footer {
	font-size:125%;
	color:#DEF;
	padding-top:5px;
	text-align:right;
	font-weight:bold;
	}

#driven {
	float:left;
	}

#driven A {
	color:#FFF;
	text-decoration:none;
	}

#driven A:HOVER {
	text-decoration:underline;
	}

#content {
	float:left;
	padding:10px 15px;
	}

#sidebar {
	background-color:#BCD;
	width:150px;
	margin:8px;
	padding:10px 15px;
	float:right;
	-webkit-border-radius:4px;
	}

#sidebar H3 {
	color:#456;
	font-size:125%;
	}

#sidebar A {
	color:#01E;
	}

#sidebar UL {
	margin:.2em 0 .5em;
	}
